.venv
__pycache__
*.pyc
*.pyo
*.pyd
.git
.gitignore
.DS_Store
node_modules
tests
*.log
README.md
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.coverage
**/coverage.xml
**/htmlcov
**/.vscode
**/.idea
**/.env
**/.env.*
**/.config/**

